@charset "utf-8";

/*
   CentralPerk css page

   Filename: main.css

*/

/* ===========
   Base Styles
   ===========
*/

html {
    background-color: rgb(140, 46, 23);
}

body {
    margin: 30px auto;
    width: 100%;
    background-color: whitesmoke;
    -webkit-box-shadow: -1px 0px 38px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 38px 8px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 38px 8px rgb(51, 51, 51);
}
